<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aboelyan.sha.mshaweerak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Opening">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UseRegestraion" />
        <activity android:name=".Booking.Bookings" />
        <activity android:name=".Shofiers.RegisterShofiers" />
        <activity android:name=".Shofiers.LogInShofiers" />
        <activity android:name=".RecyclerVeiwShofiers.ListOfBookings" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANtbuhmrTKm7gCFAHdXRlfNWtUFhl9sXA" />

        <service
            android:name=".FCMH.MyFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- ###  Register service get token and send it to service  ### -->
        <service android:name=".FCMH.FCMRegistrationService" />

        <!-- ###  Service response to token refresh event  ### -->
        <service android:name=".SendDataInSecond.MyService" android:process=":my_service" />
        <service
            android:name=".FCMH.FCMTokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Clients.LogInUsers" />
        <activity android:name=".RecyclerViewClients.ListDesplayForClient" />
        <activity android:name=".ShowShofierForClients.OnLineShofier" />
        <activity android:name=".ShowShoToClients.ShofDetails"></activity>
    </application>

</manifest>